<?xml version="1.0"?>
<launch>
	<!--group ns="$(env ROBOT)"-->
	
	<!--param name="robot_description"
	command="$(find xacro)/xacro.py '$(find smp_description)/urdf/smp_skidsteer.urdf.xacro'" />
	<arg name="fl_wheel" value="wheel_front_left_joint" />
	<arg name="fr_wheel" value="wheel_front_right_joint" />
	<arg name="bl_wheel" value="wheel_back_left_joint" />
	<arg name="br_wheel" value="wheel_back_right_joint" /-->
	
	<node name="dual_diff_drive_controller" pkg="dual_diff_drive" type="dual_diff_drive_controller"
		output="screen">
		<!--param name="wheel_base" value="0.4454" type="double"/>
		<param name="wheel_radius" value="0.12" type="double"/>
		<param name="front_left" value="$(arg fl_wheel)" />
		<param name="front_right" value="$(arg fr_wheel)" />
		<param name="back_left" value="$(arg bl_wheel)" />
		<param name="back_right" value="$(arg br_wheel)" /-->
	</node>
	
	<node name="nxtgen_driver_node" pkg="roboteq_nxtgen_controller" type="nxtgen_driver_node" output="screen">
		<!--param name="wheel_radius" value="0.1016" />
		<param name="axle_length" value="0.5969" />
		<param name="wheelbase_length" value="0.4445" />
		<param name="left_front_joint_name" value="$(arg fl_wheel)" />
		<param name="right_front_joint_name" value="$(arg fr_wheel)" />
		<param name="left_back_joint_name" value="$(arg bl_wheel)" />
		<param name="right_back_joint_name" value="$(arg br_wheel)" />
		<param name="publish_tf" value="false" />
		<param name="odom_publish_rate" value="15" />
		<remap from="joint_states" to="joint_states_agg" /-->
	</node>
	<!--/group-->
	<!--include file="$(find smp_bringup)/launch/smp_no_controller.launch"/-->
</launch>
